[Unit]
Description=Telit-GPS

[Service]
Type=oneshot
StandardOutput=append:%h/telit.log
StandardError=append:%h/telit.log
ExecStart=%h/telit-gps/clear_log.sh
ExecStart=%h/telit-gps/start_gnss_stream.sh
ExecStart=/usr/bin/python3 %h/telit-gps/GNSS_to_MQTT.py

[Install]
WantedBy=multi-user.target