[Unit]
Description=Telit-GPS

[Service]
Type=oneshot
StandardOutput=append:/home/pi/telit.log
StandardError=append:/home/pi/telit.log
ExecStart=/home/pi/telit-gps/clear_log.sh
ExecStart=/home/pi/telit-gps/start_gnss_stream.sh
ExecStart=/usr/bin/python3 /home/pi/telit-gps/GNSS_to_MQTT.py

[Install]
WantedBy=multi-user.target